* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: aquamarine;
    margin-bottom: 40px;
}

.logo {
    width: 50%;
}

.logo h1 {
    font-size: 50px;
    color: green;
    text-align: center;
    margin-top: 30px;
}

.nav {
    width: 50%;
}

.nav ul {
    list-style: none;
    margin-top: 50px;
}

.nav ul li {
    display: inline;
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    padding: 12px 25px;
    border: 4px solid rgb(18, 247, 189);
    border-radius: 5px;
    color: green;
    font-size: 20px;
    font-weight: 700;
    background-color: ;
    cursor: pointer;
}

.area {
    width: 100%;
    height: 75vh;
    display: flex;
}

.text-area {
    width: 50%;
    margin-left: 60px;
}

.text-area span {
    color: rgb(50, 248, 182);
}

.text-area h1 {
    font-size: 50px;
    padding-bottom: 20px;
    color: green;
}

.text-area p {
    padding-bottom: 40px;
    color: rgb(6, 158, 120);
    text-align: justify;
    font-size: 20px;
}

.text-area a {
    text-decoration: none;
    padding: 15px 20px;
    border: 2px solid green;
    color: green;
    background-image: linear-gradient(90deg, rgb(75, 143, 245), aquamarine);
    border-radius: 50px;
    font-size: 20px;
}

.img-area {
    width: 50%;
    height: 70vh;
}

.img-area img {
    margin-left: 100px;
    width: 75%;
    height: 70vh;
    padding-left: 50px;
}

.about-text {
    margin-top: 120px;
    margin-right: 50px;
}

.area-background {
    background-image: url(../images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.recipies h1 {
    font-size: 50px;
    color: green;
    text-align: center;
    margin: 15px 0;
}

.recipies p {
    padding: 15px 150px;
    color: rgb(6, 158, 120);
    text-align: ;
    font-size: 20px;
    text-align: center;
}

.recipies-aitm {
    width: 100%;
    height: 70vh;
    display: flex;
    margin-bottom: 100px;
}

.recipies-aitm1,
.recipies-aitm2,
.recipies-aitm3 {
    width: 30%;
    height: 70vh;
    margin: 40px 0 0 40px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 25px;
    /* text-align: center; */
}

.recipies-aitm1 img,
.recipies-aitm2 img,
.recipies-aitm3 img {
    width: 400px;
    height: 300px;
    /* text-align: center; */
    padding-top: 10px;
    border-radius: 30px;
    margin-left: 23px;
}

.recipies-aitm1 h1,
.recipies-aitm2 h1,
.recipies-aitm3 h1 {
    padding: 10px 0 10px 25px;
    color: green;
}

.recipies-aitm1 p,
.recipies-aitm2 p,
.recipies-aitm3 p {
    padding: 0 10px 0 20px;
    color: rgb(6, 158, 120);
}

.social-site {
    width: 100%;
    height: 30vh;
    padding-top: 40px;
}

.social-site ul {
    display: flex;
    list-style: none;
    margin: 0 10%;
    box-shadow: 10px 10px 20px gray;
    text-align: center;
}

.social-site ul li {
    padding: 30px 60px;
    align-items: center;
    background-color: #EBF8FF;
    width: 100%;
}

.social-site ul li h1 {
    color: green;
    padding-bottom: 10px;
}

.social-site ul li p {
    color: rgb(6, 158, 120);
}

.social-site ul li i {
    font-size: 55px;
    padding-bottom: 10px;
}

.fa-youtube-square {
    color: rgb(255, 0, 0);
}

.fa-instagram-square {
    color: #e95950;
}

.fa-facebook-square {
    color: #4267B2;
}

.input-div {
    text-align: center;
    margin: 20px 400px;
    padding: 40px 80px;
    box-shadow: 10px 10px 20px gray;
    background-color: #EBF8FF;
}

.input-div input {
    margin: 15px 5px 10px 0;
    padding: 7px 0;
    border-radius: 10px;
    border: 2px solid green;
}

::placeholder {
    padding: 5px;
    color: green;
}

.input-div button {
    padding: 6px;
}

.fotter {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: aquamarine;
}

.fotter h1 {
    text-align: center;
    font-size: 50px;
    color: green;
    padding: 50px 0 20px 0;
}

.fotter p {
    text-align: center;
    color: green;
    font-size: 20px;
}

.copyright p {
    text-align: center;
    padding: 10px 0 15px 0;
    background-color: #c8f3ef;
}